@{
    ViewData["Title"] = DateTime.Now.ToLongTimeString();
}

<script src="~/js/site.js" asp-append-version="true"></script>

<form>
    <div bs-button-color="danger">hello</div>
    <button bs-button-color="danger">hello</button>
</form>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
</div>